
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #a8f1ff;
    color: white;
}


.submit-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: lightblue;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 400px; 
}


.submit-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.submit-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.submit-form label {
    display: block;
    margin-bottom: 5px;
}

.submit-form input,
.submit-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; 
}

.submit-form textarea {
    height: 100px;
}

.submit-form button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #0e94fb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-form button[type="submit"]:hover {
    background-color: #2fabca;
}
